/***********************************************************************/
/* ANIMATIONS
/***********************************************************************/

/***********************************************************************/
/*** SCROLL ANIMATIONS *************************************************/
/***********************************************************************/
/* Add .animation-element class to an element or container of elements you want to have animated when they become in view, then add an animation class
   ie. class="animation-element slide-left animation-delay-2" */

/*===== DELAYS ======*/
.animation-delay-1 {
  transition-delay: 100ms!important;
}
.animation-delay-2 {
  transition-delay: 200ms!important;
}
.animation-delay-3 {
  transition-delay: 300ms!important;
}
.animation-delay-4 {
  transition-delay: 400ms!important;
}
.animation-delay-5 {
  transition-delay: 500ms!important;
}
.animation-delay-6 {
  transition-delay: 600ms!important;
}
.animation-delay-7 {
  transition-delay: 700ms!important;
}
.animation-delay-8 {
   transition-delay: 800ms!important;
 }
.animation-delay-9 {
  transition-delay: 900ms!important;
}
.animation-delay-10 {
  transition-delay: 1000ms!important;
}
.animation-delay-11 {
  transition-delay: 1100ms!important;
}
.animation-delay-12 {
  transition-delay: 1200ms!important;
}
.animation-delay-13 {
  transition-delay: 1300ms!important;
}
.animation-delay-14 {
  transition-delay: 1400ms!important;
}
.animation-delay-15 {
  transition-delay: 1500ms!important;
}
.animation-delay-1s {
  transition-delay: 1s!important;
}
.animation-delay-2s {
  transition-delay: 2s!important;
}
.animation-delay-3s {
  transition-delay: 3s!important;
}
.animation-delay-4s {
  transition-delay: 4s!important;
}
.animation-duration-3s {
  animation-duration: 3s!important;
}
.animation-duration-4s {
  animation-duration: 4s!important;
}
.animation-duration-5s {
  animation-duration: 5s!important;
}


/*======================================================================================================================
 * ANIMATION EFFECTS
 =====================================================================================================================*/
.animation-element, .tab-animation-element {
  /* Slide In Right */
  //&.slide-in-right, .slide-in-right {
	//opacity: 0;
	//transition-property: all;
	//transition-duration: 800ms;
	//transition-timing-function: ease-in-out;
	//-moz-transform: translate3d(-200px, 0px, 0px);
	//-webkit-transform: translate3d(-200px, 0px, 0px);
	//-o-transform: translate(-200px, 0px);
	//-ms-transform: translate(-200px, 0px);
	//transform: translate3d(-200px, 0px, 0px);
  //}
  //
  //&.slide-in-right.in-view, &.in-view .slide-in-right{
	//opacity: 1;
	//-moz-transform: translate3d(0px, 0px, 0px);
	//-webkit-transform: translate3d(0px, 0px, 0px);
	//-o-transform: translate(0px, 0px);
	//-ms-transform: translate(0px, 0px);
	//transform: translate3d(0px, 0px, 0px);
  //}

  /* Slide In Left */
  //&.slide-in-left, .slide-in-left {
	//opacity: 0;
	//transition-property: all;
	//transition-duration: 800ms;
	//transition-timing-function: ease-in-out;
	//-moz-transform: translate3d(200px, 0px, 0px);
	//-webkit-transform: translate3d(200px, 0px, 0px);
	//-o-transform: translate(200px, 0px);
	//-ms-transform: translate(200px, 0px);
	//transform: translate3d(200px, 0px, 0px);
  //}
  //
  //&.slide-in-left.in-view, &.in-view .slide-in-left {
	//opacity: 1;
	//-moz-transform: translate3d(0px, 0px, 0px);
	//-webkit-transform: translate3d(0px, 0px, 0px);
	//-o-transform: translate(0px, 0px);
	//-ms-transform: translate(0px, 0px);
	//transform: translate3d(0px, 0px, 0px);
  //}

  /* Slide In Up */
  //&.slide-in-up, .slide-in-up {
	//opacity: 0;
	//transition-property: all;
	//transition-duration: 800ms;
	//transition-timing-function: ease-in-out;
	//-moz-transform: translate3d(0px, 100px, 0px);
	//-webkit-transform: translate3d(0px, 100px, 0px);
	//-o-transform: translate(0px, 100px);
	//-ms-transform: translate(0px, 100px);
	//transform: translate3d(0px, 100, 0px);
	//-webkit-backface-visibility: hidden;
	//-moz-backface-visibility: hidden;
	//backface-visibility: hidden;
  //}
  //
  //&.slide-in-up.in-view, &.in-view  .slide-in-up{
	//opacity: 1;
	//-moz-transform: translate3d(0px, 0px, 0px);
	//-webkit-transform: translate3d(0px, 0px, 0px);
	//-o-transform: translate(0px, 0px);
	//-ms-transform: translate(0px, 0px);
	//transform: translate3d(0px, 0px, 0px);
  //}

  /* Slide In Down */
  //&.slide-in-down, .slide-in-down {
	//opacity: 0;
	//transition-property: all;
	//transition-duration: 800ms;
	//transition-timing-function: ease-in-out;
	//-moz-transform: translate3d(0px, -100px, 0px);
	//-webkit-transform: translate3d(0px,  -100px, 0px);
	//-o-transform: translate(0px, -100px);
	//-ms-transform: translate(0px, -100px);
	//transform: translate3d(0px, -100, 0px);
	//-webkit-backface-visibility: hidden;
	//-moz-backface-visibility: hidden;
	//backface-visibility: hidden;
  //}
  //
  //&.slide-in-down.in-view, &.in-view  .slide-in-down{
	//opacity: 1;
	//-moz-transform: translate3d(0px, 0px, 0px);
	//-webkit-transform: translate3d(0px, 0px, 0px);
	//-o-transform: translate(0px, 0px);
	//-ms-transform: translate(0px, 0px);
	//transform: translate3d(0px, 0px, 0px);
  //}

  /* FADE IN */
  &.fade-in, .fade-in {
	opacity: 0;
	transition-property: all;
	transition-duration: 800ms;
	transition-timing-function: ease-in-out;
  }

  &.fade-in.in-view, &.in-view .fade-in {
	opacity: 1;
  }

  // Tilt In left
  //&.tilt-in-left, .tilt-in-left {
	//position: relative;
	//left: -200%;
	//transform: rotate(-30deg);
	//transition-property: all;
	//transition-duration: 1000ms;
	//transition-timing-function: ease-in-out;
  //}
  //&.tilt-in-left.in-view, &.in-view .tilt-in-left {
	//left: 0px;
	//transform: rotate(0deg);
  //}

  // Tilt In Right
  //&.tilt-in-right, .tilt-in-right {
	//position: relative;
	//right: -200%;
	//transform: rotate(-30deg);
	//transition-property: all;
	//transition-duration: 1000ms;
	//transition-timing-function: ease-in-out;
  //}
  //&.tilt-in-right.in-view, &.in-view .tilt-in-right {
	//right: 0px;
	//transform: rotate(0deg);
  //}

  //Turn in Left
  //&.turn-in-left, .turn-in-left {
	//position: absolute;
	//left: -200%;
	//transform: perspective(809px) scale3d(0.4, 0.6, 1.4) translate3d(0, 0, 149px);
	//transition-property: all;
	//transition-duration: 1000ms;
	//transition-timing-function: ease-in-out;
  //}
  //&.turn-in-left.in-view, &.in-view .turn-in-left {
	//left: 0px;
	//transform: perspective(0px) scale3d(1, 1, 1) translate3d(0, 0, 0);
  //}

  //Turn in Right
  //&.turn-in-right, .turn-in-right {
	//position: absolute;
	//right: -200%;
	//transform: perspective(809px) scale3d(0.4, 0.6, 1.4) translate3d(0, 0, 149px);
	//transition-property: all;
	//transition-duration: 1000ms;
	//transition-timing-function: ease-in-out;
  //}
  //&.turn-in-right.in-view, &.in-view .turn-in-right {
	//right: 0px;
	//transform: perspective(0px) scale3d(1, 1, 1) translate3d(0, 0, 0);
  //}

  //Rotate in Left
  //&.rotate-in-left, .rotate-in-left {
	//position: relative;
	//left: -200%;
	//transform: rotate(-270deg);
	//transition-property: all;
	//transition-duration: 1000ms;
	//transition-timing-function: ease-in-out;
  //}
  //&.rotate-in-left.in-view, &.in-view .rotate-in-left {
	//left: 0px;
	//transform:rotate(0deg);
  //}

  //Rotate in Right
  //&.rotate-in-right, .rotate-in-right {
	//position: relative;
	//right: -200%;
	//transform: rotate(270deg);
	//transition-property: all;
	//transition-duration: 1000ms;
	//transition-timing-function: ease-in-out;
  //}
  //&.rotate-in-right.in-view, &.in-view .rotate-in-right {
	//right: 0px;
	//transform:rotate(0deg);
  //}

  //Zoom in
  //&.zoom-in, .zoom-in {
	//position: relative;
	//transform: scale(0.8);
	//opacity: 0;
	//transition-property: all;
	//transition-duration: 1000ms;
	//transition-timing-function: ease-in-out;
  //}
  //&.zoom-in.in-view, &.in-view .zoom-in {
	//transform: scale(1);
	//opacity: 1;
  //}
}

/***********************************************************************/
/**** HOVER EFFECTS ****************************************************/
/***********************************************************************/



/***********************************************************************/
/*** IMAGE HOVER ANIMATIONS ********************************************/
/***********************************************************************/

