/***********************************************************************/
/*********** CONTACT PAGE **********************************************/
/***********************************************************************/




/***********************************************************************/
/*** CONTACT FORM 7 ****************************************************/
/***********************************************************************/

.wpcf7-form-control-wrap {
}

.wpcf7-not-valid-tip {

}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border: none;
  max-width: 475px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff1000+0,e25600+100 */
  background: rgb(255,16,0); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255,16,0,1) 0%, rgba(226,86,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255,16,0,1) 0%,rgba(226,86,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255,16,0,1) 0%,rgba(226,86,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1000', endColorstr='#e25600',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: @white;
  margin: @baseline*2 auto 0px auto;
  .font-size(13);
  padding: @baseline;
  .transition();

  &:before {
    content:"\f071";
    font-family: @font-awesome;
    .font-size(13);
    padding-right: @baseline;
  }
}

div.wpcf7-mail-sent-ok {
  border: none;
  max-width: 475px;
  color: @white!important;
  margin: @baseline*2 auto 0px auto;
  .font-size(13);
  padding: @baseline;
  .transition();

  &:before {
    content:"\f058";
    font-family: @font-awesome;
    .font-size(13);
    padding-right: @baseline;
  }
}


